In [18]:
import pandas as pd

In [19]:
def change_teamname1(x):  # 외인조사.xlsx
    
    """
    기아 -> KIA
    히어로즈, 넥센, 키움 -> 히어로즈/넥센/키움
    kt -> KT
    우리, 현대 -> 우리/현대
    """
    
    if x == '기아':
        x = 'KIA'
    elif x == 'kt':
        x = 'KT'
    elif (x == '히어로즈') or (x == '넥센') or (x == '키움') or (x == '우리'):
        x = '우리/히어로즈/넥센/키움'
        
    return x


def change_teamname2(x):  # KBO데이터
    
    """
    히어로즈, 넥센, 키움 -> 히어로즈/넥센/키움
    """
    
    if (x == '히어로즈') or (x == '넥센') or (x == '키움') or (x == '우리'):
        x = '우리/히어로즈/넥센/키움'
        
    return x

# 1. 외인조사 데이터 전처리

In [20]:
df = pd.read_excel('외인정보데이터/외인조사.xlsx')
df = df[['년도', '팀', '외인명']]
df['팀'] = df['팀'].apply(lambda x: change_teamname1(x)) # 팀명을 일관적으로 변경
df = df.rename(columns={'년도':'연도', '팀':'팀명', '외인명':'선수명'})
df

       연도   팀명          선수명
0    2002  KIA      다니엘 리오스
1    2002  KIA        마크 키퍼
2    2002  KIA        워렌 뉴선
3    2002  KIA       루디 펨버턴
4    2003  KIA      다니엘 리오스
..    ...  ...          ...
545  2019   KT     윌리엄 쿠에바스
546  2019   KT    멜 로하스 주니어
547  2020   KT     윌리엄 쿠에바스
548  2020   KT  오드리사머 데스파이네
549  2020   KT    멜 로하스 주니어

[550 rows x 3 columns]

In [21]:
df.loc[(df['연도'] == 2020) & (df['팀명'] == '한화') & (df['선수명'] == '채드 벨'), '선수명'] = '채드벨'

df.loc[(df['연도'] == 2019) & (df['팀명'] == '한화') & (df['선수명'] == '채드 벨'), '선수명'] = '채드벨'
df.loc[(df['연도'] == 2019) & (df['팀명'] == 'KIA') & (df['선수명'] == '제레미 해이즐베이커'), '선수명'] = '제레미 해즐베이커'
df.drop(df.loc[(df['연도'] == 2019) & (df['팀명'] == 'SK') & (df['선수명'] == '브록 다익손'), '선수명'].index, inplace=True)

df.loc[(df['연도'] == 2018) & (df['팀명'] == 'KIA') & (df['선수명'] == '팻 딘'), '선수명'] = '팻딘'
df.loc[(df['연도'] == 2018) & (df['팀명'] == '두산') & (df['선수명'] == '스캇반 슬라이크'), '선수명'] = '스캇 반슬라이크'

df.loc[(df['연도'] == 2017) & (df['팀명'] == 'KIA') & (df['선수명'] == '팻 딘'), '선수명'] = '팻딘'
df.drop(df.loc[(df['연도'] == 2017) & (df['팀명'] == '롯데') & (df['선수명'] == '파커 마켈'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2017) & (df['팀명'] == '롯데') & (df['선수명'] == '닉 에디튼'), '선수명'] = '닉 애디튼'
df.loc[(df['연도'] == 2017) & (df['팀명'] == '삼성') & (df['선수명'] == '재크 패트릭'), '선수명'] = '재크 페트릭'
df.loc[(df['연도'] == 2017) & (df['팀명'] == '삼성') & (df['선수명'] == '앤서니 레니도'), '선수명'] = '앤서니 레나도'
df.loc[(df['연도'] == 2017) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '앤디 밴 헤켄'), '선수명'] = '앤디 밴헤켄'
df.loc[(df['연도'] == 2017) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '대니 돈'), '선수명'] = '대니돈'

df.loc[(df['연도'] == 2016) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '앤디 밴 헤켄'), '선수명'] = '앤디 밴헤켄'
df.loc[(df['연도'] == 2016) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '대니 돈'), '선수명'] = '대니돈'
df.drop(df.loc[(df['연도'] == 2016) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '라이언 피어밴드'), '선수명'].index, inplace=True)

df.loc[(df['연도'] == 2015) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '앤디 밴 헤켄'), '선수명'] = '앤디 밴헤켄'
df.loc[(df['연도'] == 2015) & (df['팀명'] == 'KT') & (df['선수명'] == '댄 블랙'), '선수명'] = '댄블랙'

df.loc[(df['연도'] == 2014) & (df['팀명'] == 'LG') & (df['선수명'] == '조쉬 벨'), '선수명'] = '조쉬벨'
df.loc[(df['연도'] == 2014) & (df['팀명'] == '삼성') & (df['선수명'] == '릭 반덴허크'), '선수명'] = '릭 밴덴헐크'
df.loc[(df['연도'] == 2014) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '앤디 밴 헤켄'), '선수명'] = '앤디 밴헤켄'

df.drop(df.loc[(df['연도'] == 2013) & (df['팀명'] == 'SK') & (df['선수명'] == '덕 슬래튼'), '선수명'].index, inplace=True)
df.drop(df.loc[(df['연도'] == 2013) & (df['팀명'] == '롯데') & (df['선수명'] == '스콧 리치먼드'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2013) & (df['팀명'] == '삼성') & (df['선수명'] == '릭 반덴허크'), '선수명'] = '릭 밴덴헐크'
df.loc[(df['연도'] == 2013) & (df['팀명'] == '삼성') & (df['선수명'] == '에스마일 린 카리다드'), '선수명'] = '에스마일 린 카리대'
df.loc[(df['연도'] == 2013) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '앤디 밴 헤켄'), '선수명'] = '앤디 밴헤켄'

df.loc[(df['연도'] == 2012) & (df['팀명'] == '한화') & (df['선수명'] == '션 헨'), '선수명'] = '션헨'
df.loc[(df['연도'] == 2012) & (df['팀명'] == 'KIA') & (df['선수명'] == '호라시오 라미레스'), '선수명'] = '호라시오 라미레즈'
df.drop(df.loc[(df['연도'] == 2012) & (df['팀명'] == 'KIA') & (df['선수명'] == '알렉스 그라만'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2012) & (df['팀명'] == '우리/히어로즈/넥센/키움') & (df['선수명'] == '앤디 밴 헤켄'), '선수명'] = '앤디 밴헤켄'

df.drop(df.loc[(df['연도'] == 2011) & (df['팀명'] == '롯데') & (df['선수명'] == '카림 가르시아'), '선수명'].index, inplace=True)
df.drop(df.loc[(df['연도'] == 2011) & (df['팀명'] == '두산') & (df['선수명'] == '라몬 라미레스'), '선수명'].index, inplace=True)

df.drop(df.loc[(df['연도'] == 2010) & (df['팀명'] == 'KIA') & (df['선수명'] == '리카르도 로드리게스'), '선수명'].index, inplace=True)

df.loc[(df['연도'] == 2009) & (df['팀명'] == '한화') & (df['선수명'] == '빅토르 디아스'), '선수명'] = '빅토르 디아즈'
df.loc[(df['연도'] == 2009) & (df['팀명'] == 'KIA') & (df['선수명'] == '릭구톰슨'), '선수명'] = '릭 구톰슨'
df.drop(df.loc[(df['연도'] == 2009) & (df['팀명'] == 'LG') & (df['선수명'] == '크리스 옥스프링'), '선수명'].index, inplace=True)
df.drop(df.loc[(df['연도'] == 2009) & (df['팀명'] == 'SK') & (df['선수명'] == '크리스 니코스키'), '선수명'].index, inplace=True)
df.drop(df.loc[(df['연도'] == 2009) & (df['팀명'] == '두산') & (df['선수명'] == '맷 랜들'), '선수명'].index, inplace=True)

df.loc[(df['연도'] == 2008) & (df['팀명'] == 'KIA') & (df['선수명'] == '펠릭스 디아스'), '선수명'] = '펠릭스 디아즈'

df.loc[(df['연도'] == 2006) & (df['팀명'] == 'LG') & (df['선수명'] == '버디 칼라일'), '선수명'] = '버디 카라이어'
df.drop(df.loc[(df['연도'] == 2006) & (df['팀명'] == 'LG') & (df['선수명'] == '매니 아이바'), '선수명'].index, inplace=True)

df.loc[(df['연도'] == 2005) & (df['팀명'] == '한화') & (df['선수명'] == '틸슨 브리토'), '선수명'] = '틸슨 브리또'
df.loc[(df['연도'] == 2005) & (df['팀명'] == 'KIA') & (df['선수명'] == '맷 블링크'), '선수명'] = '맷 블랭크'
df.drop(df.loc[(df['연도'] == 2005) & (df['팀명'] == 'KIA') & (df['선수명'] == '다니엘 리오스'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2005) & (df['팀명'] == '롯데') & (df['선수명'] == '라이언 잭슨'), '선수명'] = '라이온 잭슨'
df.drop(df.loc[(df['연도'] == 2005) & (df['팀명'] == '롯데') & (df['선수명'] == '로베르토 페레즈'), '선수명'].index, inplace=True)

df.loc[(df['연도'] == 2004) & (df['팀명'] == '한화') & (df['선수명'] == '에디 디아스'), '선수명'] = '에디 디아즈'
df.loc[(df['연도'] == 2004) & (df['팀명'] == 'SK') & (df['선수명'] == '틸슨 브리토'), '선수명'] = '틸슨 브리또'
df.loc[(df['연도'] == 2004) & (df['팀명'] == '롯데') & (df['선수명'] == '라이언 잭슨'), '선수명'] = '라이온 잭슨'
df.loc[(df['연도'] == 2004) & (df['팀명'] == '롯데') & (df['선수명'] == '마리오 엔카나 시온'), '선수명'] = '마리오 엔카네 이시온'
df.loc[(df['연도'] == 2004) & (df['팀명'] == '삼성') & (df['선수명'] == '멘디 로페스'), '선수명'] = '멘디 로페즈'

df.drop(df.loc[(df['연도'] == 2003) & (df['팀명'] == 'KIA') & (df['선수명'] == '마크 키퍼'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2003) & (df['팀명'] == '롯데') & (df['선수명'] == '마리오 엔카나 시온'), '선수명'] = '마리오 엔카네 이시온'
df.drop(df.loc[(df['연도'] == 2003) & (df['팀명'] == '롯데') & (df['선수명'] == '모리 카즈마'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2003) & (df['팀명'] == '삼성') & (df['선수명'] == '틸슨 브리토'), '선수명'] = '틸슨 브리또'
df.loc[(df['연도'] == 2003) & (df['팀명'] == '두산') & (df['선수명'] == '아리키 사토시'), '선수명'] = '이리키 사토시'

df.drop(df.loc[(df['연도'] == 2002) & (df['팀명'] == '한화') & (df['선수명'] == '댄 세라피니'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2002) & (df['팀명'] == 'KIA') & (df['선수명'] == '루디 펨버턴'), '선수명'] = '루디 펨버튼'
df.drop(df.loc[(df['연도'] == 2002) & (df['팀명'] == 'SK') & (df['선수명'] == '페르난도 에르난데스'), '선수명'].index, inplace=True)
df.drop(df.loc[(df['연도'] == 2002) & (df['팀명'] == 'SK') & (df['선수명'] == '페드로 카스텔라노'), '선수명'].index, inplace=True)
df.drop(df.loc[(df['연도'] == 2002) & (df['팀명'] == '롯데') & (df['선수명'] == '다니엘 매기'), '선수명'].index, inplace=True)
df.loc[(df['연도'] == 2002) & (df['팀명'] == '삼성') & (df['선수명'] == '틸슨 브리토'), '선수명'] = '틸슨 브리또'
df.drop(df.loc[(df['연도'] == 2002) & (df['팀명'] == '삼성') & (df['선수명'] == '매트 루크'), '선수명'].index, inplace=True)

# 2.  수비데이터 전처리

In [22]:
# 데이터 통합

for year in range(2020, 2001, -1):
    
    tmp = pd.read_csv(f'선수데이터/수비/수비정보_팀전체({year}).csv')
    tmp['연도'] = year
    tmp = tmp[['선수명', 'ID', '연도', '팀명', '포지션', '경기', '선발경기', '수비이닝', '실책', '견제사', '자살', '보살', '병살', '수비율', '포일', '도루허용', '도루실패', '도루저지율']]
    if year == 2020:
        defense = tmp.copy()
    else:
        defense = pd.concat([defense, tmp]).reset_index(drop=True)
        
defense

,선수명,ID,연도,팀명,포지션,경기,선발경기,수비이닝,실책,견제사,자살,보살,병살,수비율,포일,도루허용,도루실패,도루저지율
0,심우준,64006,2020,KT,유격수,144,133,1157,21,0,231,427,94,0.969,0,0,0,-
1,마차도,50506,2020,롯데,유격수,144,139,1180 2/3,10,0,228,380,88,0.984,0,0,0,-
2,배정대,64166,2020,KT,중견수,143,141,1221 1/3,5,0,354,13,2,0.987,0,0,0,-
3,정수빈,79231,2020,두산,중견수,141,133,1162 2/3,1,0,328,7,3,0.997,0,0,0,-
4,오지환,79109,2020,LG,유격수,141,136,1142,15,0,184,405,100,0.975,0,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12929,조경환,98533,2002,SK,우익수,1,0,1,0,0,0,0,0,-,0,0,0,-
12930,조동화,71848,2002,SK,좌익수,1,0,1,0,0,0,0,0,-,0,0,0,-
12931,조동화,71848,2002,SK,중견수,1,0,2,0,0,0,0,0,-,0,0,0,-
12932,김정현,72548,2002,롯데,1루수,1,0,1,0,0,0,0,0,-,0,0,0,-
12933,김태균,94415,2002,롯데,2루수,1,0,2,1,0,0,0,0,0.000,0,0,0,-

In [23]:
defense['팀명'] = defense['팀명'].apply(lambda x: change_teamname2(x)) # 팀명을 일관적으로 변경
defense

,선수명,ID,연도,팀명,포지션,경기,선발경기,수비이닝,실책,견제사,자살,보살,병살,수비율,포일,도루허용,도루실패,도루저지율
0,심우준,64006,2020,KT,유격수,144,133,1157,21,0,231,427,94,0.969,0,0,0,-
1,마차도,50506,2020,롯데,유격수,144,139,1180 2/3,10,0,228,380,88,0.984,0,0,0,-
2,배정대,64166,2020,KT,중견수,143,141,1221 1/3,5,0,354,13,2,0.987,0,0,0,-
3,정수빈,79231,2020,두산,중견수,141,133,1162 2/3,1,0,328,7,3,0.997,0,0,0,-
4,오지환,79109,2020,LG,유격수,141,136,1142,15,0,184,405,100,0.975,0,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12929,조경환,98533,2002,SK,우익수,1,0,1,0,0,0,0,0,-,0,0,0,-
12930,조동화,71848,2002,SK,좌익수,1,0,1,0,0,0,0,0,-,0,0,0,-
12931,조동화,71848,2002,SK,중견수,1,0,2,0,0,0,0,0,-,0,0,0,-
12932,김정현,72548,2002,롯데,1루수,1,0,1,0,0,0,0,0,-,0,0,0,-
12933,김태균,94415,2002,롯데,2루수,1,0,2,1,0,0,0,0,0.000,0,0,0,-

In [24]:
YEARS = list(range(2020, 2001, -1))
TEAMS = ['한화', 'KIA', 'LG', 'SK', '롯데', '삼성', '두산', '우리/히어로즈/넥센/키움', 'NC', 'KT', '현대']

for YEAR in YEARS:
    print('')
    
    for TEAM in TEAMS:
        
        # 세부이름들 추출
        names = []
        foreigners = df.loc[(df['연도'] == YEAR) & (df['팀명'] == TEAM)]
        for foreigner in foreigners['선수명']:
            name = foreigner.split(' ')
            names.extend(name)

        # 삭제
        remove_index = defense.loc[(defense['연도'] == YEAR) & (defense['팀명'] == TEAM) & (defense['선수명'].isin(names))].index
        remove_players = list(defense.loc[remove_index, '선수명'].unique())
        defense.drop(remove_index, inplace=True)
        
        if len(foreigners["선수명"].unique()) != len(remove_players):
            print(f'{TEAM}({YEAR})의 {remove_players} ({len(remove_players)}명) 삭제 완료 == 삭제대상: {list(foreigners["선수명"].unique())}')

SK(2020)의 ['로맥', '핀토', '킹엄'] (3명) 삭제 완료 == 삭제대상: ['닉 킹엄', '타일러 화이트', '리카르도 핀토', '제이미 로맥']



SK(2017)의 ['로맥', '켈리', '다이아몬드'] (3명) 삭제 완료 == 삭제대상: ['메릴 켈리', '대니 워스', '제이미 로맥', '스캇 다이아몬드']










롯데(2007)의 ['카브레라', '리오스', '페레즈'] (3명) 삭제 완료 == 삭제대상: ['호세 카브레라', '로베르토 페레즈', '에두아르도 리오스', '펠릭스 호세']

롯데(2006)의 ['마이로우', '존갈'] (2명) 삭제 완료 == 삭제대상: ['존갈', '펠릭스 호세', '브라이언 마이로우']




KIA(2002)의 ['리오스', '키퍼', '뉴선'] (3명) 삭제 완료 == 삭제대상: ['다니엘 리오스', '마크 키퍼', '워렌 뉴선', '루디 펨버튼']

In [25]:
'''
2020 
한화: 채드 벨 -> 채드벨
SK: 제거소요 X

2019
한화: 채드 벨 -> 채드벨
KIA: 제레미 해이즐베이커 -> 제레미 해즐베이커
SK: 브록 다익손 삭제

2018
KIA: 팻 딘 -> 팻딘
두산: 스캇반 슬라이크 -> 스캇 반슬라이크

2017
KIA: 팻 딘 -> 팻딘
SK: 제거소요 X
롯데: 파커 마켈은 제거 // 닉 에디튼 -> 닉 애디튼
삼성: 재크 패트릭 -> 재크 페트릭 // 앤서니 레니도 -> 앤서니 레나도
우리/히어로즈/넥센/키움: 앤디 밴 헤켄 -> 앤디 밴헤켄 // 대니 돈 -> 대니돈

2016
우리/히어로즈/넥센/키움: 앤디 밴 헤켄 -> 앤디 밴헤켄 // 대니 돈 -> 대니돈 // 라이언 피어밴드 삭제

2015
우리/히어로즈/넥센/키움: 앤디 밴 헤켄 -> 앤디 밴헤켄
KT: 댄 블랙 -> 댄블랙

2014
LG: 조쉬 벨 -> 조쉬벨
삼성: 릭 반덴허크 -> 릭 밴덴헐크
우리/히어로즈/넥센/키움: 앤디 밴 헤켄 -> 앤디 밴헤켄

2013
SK: 덕 슬래튼 삭제
롯데: 스콧 리치먼드 삭제
삼성: 릭 반덴허크 -> 릭 밴덴헐크 // 에스마일 린 카리다드 -> 에스마일 린 카리대
우리/히어로즈/넥센/키움: 앤디 밴 헤켄 -> 앤디 밴헤켄

2012
한화: 션 헨 -> 션헨
KIA: 호라시오 라미레스 -> 호라시오 라미레즈 // 알렉스 그라만 삭제
우리/히어로즈/넥센/키움: 앤디 밴 헤켄 -> 앤디 밴헤켄

2011
롯데: 카림 가르시아 삭제
두산: 라몬 라미레스 삭제

2010
KIA: 리카르도 로드리게스 삭제

2009
한화: 빅토르 디아스 -> 빅토르 디아즈
KIA: 릭구톰슨 -> 릭 구톰슨
LG: 크리스 옥스프링 삭제
SK: 크리스 니코스키 삭제
두산: 맷 랜들 삭제

2008
KIA: 펠릭스 디아스 -> 펠릭스 디아즈

2007
롯데: 제거 소요 X

2006
LG: 버디 칼라일 -> 버디 카라이어 // 매니 아이바 삭제
롯데: 제거 소요 X

2005
한화: 틸슨 브리토 -> 틸슨 브리또
KIA: 맷 블링크 -> 맷 블랭크 // 다니엘 리오스 삭제
롯데: 라이언 잭슨 -> 라이온 잭슨 // 로베르토 페레즈 삭제

2004
한화: 에디 디아스 -> 에디 디아즈
SK: 틸슨 브리토 -> 틸슨 브리또
롯데: 라이언 잭슨 -> 라이온 잭슨 // 마리오 엔카나 시온 --> 마리오 엔카네 이시온
삼성: 멘디 로페스 -> 멘디 로페즈

2003
KIA: 마크 키퍼 삭제
롯데: 마리오 엔카나 시온 --> 마리오 엔카네 이시온 // 모리 카즈마 삭제
삼성: 틸슨 브리토 --> 틸슨 브리또
두산: 아리키 사토시 -> 이리키 사토시

2002
한화: 댄 세라피니 삭제
KIA: 루디 펨버턴 --> 루디 펨버튼
SK: 페르난도 에르난데스 --> 삭제 // 페드로 카스텔라노 --> 삭제
롯데: 다니엘 매기 --> 삭제
삼성: 틸슨 브리토 --> 틸슨 브리또 // 매트 루크 제거
'''

array(['김종국', '장성호', '이종범', '김상훈', '김창희', '정성훈', '홍세완', '이강철', '신동주',
       '김경언', '김지훈', '박충식', '오봉옥', '장정석', '김진우', '오철민', '신용운', '이현곤',
       '강철민', '장일현', '곽현희', '김태룡', '최상덕', '김인철', '이재주', '가내영', '김주철',
       '김지영', '곽채진', '이병석', '김민철', '박진철', '최영완', '방동민', '이원식', '손혁',
       '이대진', '오우진', '이동수', '조민철', '윤형진', '이윤학', '성영재', '심제훈', '황성기'],
      dtype=object)

In [28]:
df = df.reset_index(drop=True)
df

       연도   팀명          선수명
0    2002  KIA      다니엘 리오스
1    2002  KIA        마크 키퍼
2    2002  KIA        워렌 뉴선
3    2002  KIA       루디 펨버튼
4    2003  KIA      다니엘 리오스
..    ...  ...          ...
523  2019   KT     윌리엄 쿠에바스
524  2019   KT    멜 로하스 주니어
525  2020   KT     윌리엄 쿠에바스
526  2020   KT  오드리사머 데스파이네
527  2020   KT    멜 로하스 주니어

[528 rows x 3 columns]

In [30]:
df.to_csv('외인정보데이터/외인조사(수정).csv', index=False, encoding='utf-8-sig')