In [1]:
import pandas as pd
import numpy as np

# 데이터 불러오기

In [2]:
# KBO데이터
hitter = pd.read_csv('선수데이터(전처리완료)/타자.csv')
pitcher = pd.read_csv('선수데이터(전처리완료)/투수.csv')
hitter

,ID,선수명,데뷔년도,생년월일,팀명,연도,타율,경기,타석,타수,...,실책(수비),견제사(수비),자살(수비),보살(수비),병살(수비),포일(수비),도루허용(수비),도루실패(수비),수비율(수비),도루저지율(수비)
0,71610,김경언,2001.0,1982-12-07,KIA,2002,0.263,107,323,274,...,1.0,0.0,160.0,8.0,4.0,0.0,0.0,0.0,0.992142,0.0
1,71609,김민철,2001.0,1982-03-14,KIA,2002,0.261,58,53,46,...,1.0,0.0,12.0,17.0,4.0,0.0,0.0,0.0,0.937317,0.0
2,70612,김상훈,1996.0,1977-10-27,KIA,2002,0.221,113,391,357,...,6.0,1.0,664.0,54.0,8.0,8.0,48.0,44.0,0.992000,47.8
3,90811,김인철,1990.0,1971-07-14,KIA,2002,0.235,37,53,51,...,2.0,0.0,37.0,1.0,0.0,0.0,0.0,0.0,0.950368,0.0
4,96616,김종국,1996.0,1973-09-14,KIA,2002,0.287,133,595,527,...,9.0,0.0,286.0,421.0,83.0,0.0,0.0,0.0,0.987000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,50707,최인호,2020.0,2000-01-30,한화,2020,0.236,47,135,127,...,0.0,0.0,67.0,4.0,0.0,0.0,0.0,0.0,0.996250,0.0
4235,78288,최재훈,2008.0,1989-08-27,한화,2020,0.301,126,389,339,...,5.0,1.0,727.0,48.0,12.0,4.0,79.0,27.0,0.994000,25.5
4236,74729,최진행,2004.0,1985-08-17,한화,2020,0.234,84,240,214,...,1.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.970000,0.0
4237,62700,하주석,2012.0,1994-02-25,한화,2020,0.286,72,281,262,...,9.0,0.0,89.0,148.0,37.0,0.0,0.0,0.0,0.963000,0.0
4238,69706,허관회,2019.0,1999-02-12,한화,2020,0.500,1,2,2,...,0.0,0.0,10.0,0.0,0.0,0.0,1.0,0.0,1.000000,0.0

In [3]:
# STATIZ에서 크롤링한 데이터
df = pd.read_csv('연봉데이터/연봉과WAR.csv')
df

      선수명        생년월일    연도     연봉    WAR
0     김경언  1982-12-07  2001    NaN  0.155
1     김경언  1982-12-07  2002  2,500  1.401
2     김경언  1982-12-07  2003  4,300  0.443
3     김경언  1982-12-07  2004  6,500  0.144
4     김경언  1982-12-07  2005  5,000  0.544
...   ...         ...   ...    ...    ...
9347  안병원  1973-10-03  2003  5,500  0.024
9348  강관식  1981-04-12  2005    NaN  0.000
9349  이정용  1996-03-26  2020  2,700  0.708
9350  이호중  1992-10-03  2020    NaN  0.021
9351  오동욱  2001-02-04  2020    NaN -0.526

[9352 rows x 5 columns]

# STATIZ 크롤링 데이터 전처리

In [4]:
# 생년월일 오류 전처리 ("007.STATIZ에서 데뷔년도 크롤링 후 결측값 채우기"에서 조사한 내용)
# STATIZ와 KBO의 생년월일이 맞지 않는 몇몇을 판별 성공, 이들을 대체
df.loc[(df['선수명'] == '정종수') & (df['생년월일'] == '1980-06-08'), '생년월일'] = '1980-05-08'
df.loc[(df['선수명'] == '박가람') & (df['생년월일'] == '1986-11-09'), '생년월일'] = '1986-11-07'
df.loc[(df['선수명'] == '최현종') & (df['생년월일'] == '1985-08-05'), '생년월일'] = '1985-07-08'
df.loc[(df['선수명'] == '김태석') & (df['생년월일'] == '1967-02-12'), '생년월일'] = '1967-03-12'
df.loc[(df['선수명'] == '안병원') & (df['생년월일'] == '1973-10-04'), '생년월일'] = '1973-10-03'
df.loc[(df['선수명'] == '강관식') & (df['생년월일'] == '1984-04-12'), '생년월일'] = '1981-04-12'
df.loc[(df['선수명'] == '이정용') & (df['생년월일'] == '1997-03-26'), '생년월일'] = '1996-03-26'
df.loc[(df['선수명'] == '이호중') & (df['생년월일'] == '1992-10-13'), '생년월일'] = '1992-10-03'
df.loc[(df['선수명'] == '오동욱') & (df['생년월일'] == '2001-02-01'), '생년월일'] = '2001-02-04'

In [5]:
# 90억 연봉으로 채워져있는 것은 스탯티즈의 오류라고 판단하여 결측치처리
df.loc[df['연봉'] == '900,000', '연봉'] = np.nan
df['연봉'].value_counts()

2,700     405
3,000     307
2,000     295
2,400     261
4,000     217
         ...
17,700      1
27,900      1
3,650       1
23,200      1
10,250      1
Name: 연봉, Length: 232, dtype: int64

# Merge

In [6]:
hitter2 = pd.merge(hitter, df, how='left', on=['선수명', '생년월일', '연도'])
pitcher2 = pd.merge(pitcher, df, how='left', on=['선수명', '생년월일', '연도'])

print(f"타자 Merge 전 데이터 개수: {hitter.shape[0]}개, 타자 Merge 후 데이터 개수: {hitter2.shape[0]}개")
print(f"투수 Merge 전 데이터 개수: {pitcher.shape[0]}개, 투수 Merge 후 데이터 개수: {pitcher2.shape[0]}개")

타자 Merge 전 데이터 개수: 4239개, 타자 Merge 후 데이터 개수: 4239개
투수 Merge 전 데이터 개수: 3557개, 투수 Merge 후 데이터 개수: 3557개

In [7]:
print(f"타자의 연봉 결측치 개수: {hitter2['연봉'].isnull().sum()}개")
print(f"투수의 연봉 결측치 개수: {pitcher2['연봉'].isnull().sum()}개")
print()
print(f"타자의 WAR 결측치 개수: {hitter2['WAR'].isnull().sum()}개")
print(f"투수의 WAR 결측치 개수: {pitcher2['WAR'].isnull().sum()}개")

타자의 연봉 결측치 개수: 612개
투수의 연봉 결측치 개수: 575개

타자의 WAR 결측치 개수: 35개
투수의 WAR 결측치 개수: 43개

In [8]:
# 저장
hitter2.to_csv('선수데이터(전처리완료)/타자.csv', index=False, encoding='utf-8-sig')
pitcher2.to_csv('선수데이터(전처리완료)/투수.csv', index=False, encoding='utf-8-sig')

In [ ]:
"""
이슈사항: 데뷔년도 <-> 신인지명 다른의미일수도 있겠다는 생각이 듬.
WAR과 연봉 결측치를 어떻게 채울 것인가?
"""