In [1]:
import pandas as pd

# 데이터 불러오기

In [2]:
# 데이터 불러오기
hitter = pd.read_csv('선수데이터(전처리완료)/타자.csv')
pitcher = pd.read_csv('선수데이터(전처리완료)/투수.csv')

hitter.shape, pitcher.shape

((4239, 68), (3557, 72))

In [3]:
# 데이터 불러오기
pos_entropy = pd.read_csv('포지션엔트로피데이터/포지션엔트로피.csv')[['ID', '연도', '포지션 엔트로피']]
pos_entropy = pos_entropy.drop_duplicates().dropna().reset_index(drop=True)
pos_entropy

         ID    연도  포지션 엔트로피
0     70117  2002  0.000000
1     70121  2002  0.000000
2     70148  2002  0.000000
3     70224  2002  0.252556
4     70317  2002  0.000000
...     ...   ...       ...
8146  79705  2020  0.989993
8147  79764  2020  0.000000
8148  79825  2020  0.000000
8149  79847  2020  0.000000
8150  99445  2020  0.000000

[8151 rows x 3 columns]

# 전체 포지션 엔트로피를 투수와 타자로 구분

In [4]:
hitter_ID = list(hitter['ID'])
pitcher_ID = list(pitcher['ID'])

hit_entropy = pos_entropy[pos_entropy['ID'].isin(hitter_ID)].reset_index(drop=True)
pit_entropy = pos_entropy[pos_entropy['ID'].isin(pitcher_ID)].reset_index(drop=True)

print(f'타자의 수비엔트로피데이터 개수: {hit_entropy.shape[0]}')
print(f'투수의 수비엔트로피데이터 개수: {pit_entropy.shape[0]}')

타자의 수비엔트로피데이터 개수: 4218
투수의 수비엔트로피데이터 개수: 3491

# Merge

In [5]:
hitter = pd.merge(hitter, hit_entropy, on=['ID', '연도'], how='left')
pitcher = pd.merge(pitcher, pit_entropy, on=['ID', '연도'], how='left')

In [7]:
hitter['포지션 엔트로피'] = hitter['포지션 엔트로피'].fillna(0)
pitcher['포지션 엔트로피'] = pitcher['포지션 엔트로피'].fillna(0)

In [11]:
hitter.to_csv('선수데이터(전처리완료)/타자.csv', index=False, encoding='utf-8-sig')
pitcher.to_csv('선수데이터(전처리완료)/투수.csv', index=False, encoding='utf-8-sig')