# 패키지 불러오기

In [1]:
import pandas as pd

### 1. 타자
#### 1. 기본데이터 전처리
 - "ID", "선수명" 변수는 제거
 - 결측치가 하나라도 있는 행은 제거
 - 생년월일 --> 년/월/일 변수 생성
 - 생년월일 --> 연도데이터를 기반으로 나이변수 생성
 - 기존의 "생년월일" 변수는 삭제
 - 팀명데이터 --> 팀별로 원핫인코딩
 - 기존의 "팀명" 변수 삭제
    
#### 2. 타자데이터 전처리
 - 볼넷/삼진, 땅볼/뜬공 --> 변수제거 --> **논의필요**
 
#### 3. 수비데이터 전처리
 - 포지션(수비) --> 포지션별로 원핫인코딩
 - 기존의 "포지션(수비)" 변수 삭제
   
#### 4. 논의필요
 - 볼넷/삼진, 땅볼/뜬공 데이터 어떻게 처리할 것인가?

In [2]:
# ID와 선수명변수 제거 및 결측행 제거
hitter = pd.read_csv('선수데이터(전처리완료)/타자.csv')
hitter = hitter.drop(['ID', '선수명'], axis=1) # ID와 선수명은 분석에 불필요한 열이라고 판단하여 제거
hitter = hitter.dropna().reset_index(drop=True)

# 생년월일 전처리
hitter['출생연도'] = hitter['생년월일'].apply(lambda x: x.split('-')[0]).astype('int')
hitter['출생월'] = hitter['생년월일'].apply(lambda x: x.split('-')[1]).astype('int')
hitter['출생일'] = hitter['생년월일'].apply(lambda x: x.split('-')[2]).astype('int')
hitter['나이'] = hitter['연도'] - hitter['출생연도'] + 1
hitter = hitter.drop('생년월일', axis=1)

# 데뷔년도 데이터 형변환
hitter['데뷔년도'] = hitter['데뷔년도'].astype('int')

# 팀명데이터 원핫인코딩
hitter = pd.get_dummies(hitter, columns=['팀명'], prefix='팀명', drop_first=False, dtype='int')
hitter

,데뷔년도,연도,타율,경기,타석,타수,득점,안타,2루타,3루타,...,팀명_KT,팀명_LG,팀명_NC,팀명_SK,팀명_두산,팀명_롯데,팀명_삼성,팀명_우리/히어로즈/넥센/키움,팀명_한화,팀명_현대
0,1997,2003,0.281,92,289,253,38,71,9,0,...,0,0,0,0,0,0,1,0,0,0
1,1997,2004,0.000,2,2,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1997,2005,0.231,25,69,65,5,15,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2019,2019,0.151,27,57,53,5,8,1,1,...,0,0,0,0,0,0,0,0,0,0
4,2019,2020,0.239,59,73,67,11,16,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,2005,2010,0.266,29,74,64,7,17,2,1,...,0,0,0,0,0,0,0,0,1,0
4146,2015,2020,0.000,5,4,3,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4147,2009,2009,0.286,15,26,21,4,6,1,0,...,0,0,0,1,0,0,0,0,0,0
4148,2009,2011,0.000,5,2,2,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4149,2009,2015,0.240,15,28,25,1,6,0,0,...,0,0,0,1,0,0,0,0,0,0

In [3]:
# 타자데이터 전처리
### 공격데이터 형변환
hitter['타율'] = hitter['타율'].replace('-', 0).astype('float')
hitter['장타율'] = hitter['장타율'].replace('-', 0).astype('float')
hitter['순수장타율'] = hitter['순수장타율'].replace('-', 0).astype('float')
hitter = hitter.drop(['볼넷/삼진', '땅볼/뜬공'], axis=1)

# 수비데이터 전처리
### 수비데이터 형변환
hitter[['경기(수비)', '선발경기(수비)', '실책(수비)', '견제사(수비)', '자살(수비)', '보살(수비)', '병살(수비)', '포일(수비)', '도루허용(수비)', '도루실패(수비)']] = hitter[['경기(수비)', '선발경기(수비)', '실책(수비)', '견제사(수비)', '자살(수비)', '보살(수비)', '병살(수비)', '포일(수비)', '도루허용(수비)', '도루실패(수비)']].astype('int')

### 포지션 원핫인코딩
hitter = pd.get_dummies(hitter, columns=['포지션(수비)'], prefix='포지션(수비)', drop_first=False, dtype='int')

In [4]:
# 연봉 및 수상횟수 전처리
hitter['연봉'] = list(map(lambda x: x.replace(',',''), hitter['연봉']))
hitter['연봉'] = hitter['연봉'].astype('int')

hitter['수상횟수'] = hitter['수상횟수'].astype('int')

### 2. 투수
#### 1. 기본데이터 전처리
 - "ID", "선수명" 변수는 제거
 - 결측치가 하나라도 있는 행은 제거

 - 생년월일 --> 년/월/일 변수 생성
 - 생년월일 --> 연도데이터를 기반으로 나이변수 생성
 - 기존의 "생년월일" 변수는 삭제
 - 팀명데이터 --> 팀별로 원핫인코딩
 - 기존의 "팀명" 변수 삭제

    
#### 2. 투수데이터 전처리
 - 이닝수가 0인 행은 제거 --> **논의필요**
 - 0승 0패의 승률: 0으로 처리  --> **논의필요**
 - 땅볼/뜬공, 삼진/볼넷 --> 변수제거 --> **논의필요**
 
#### 3. 수비데이터 전처리
 - 기존의 "포지션(수비)" 변수 삭제 --> 수비의 수비포지션은 only 수비
   
#### 4. 논의필요
 - 승률 --> 0승0패인경우 -로 존재
 - 평균자책점, 이닝당_출루허용률, 피안타율, 투구수/이닝, 9이닝당 삼진, 9이닝당 볼넷, 삼진/볼넷, 피장타율 --> 이닝이 0인 경우 때문에 -로존재
 - 땅볼/뜬공, 삼진/볼넷 --> 타자와 비슷한 이슈

In [5]:
# ID와 선수명변수 제거 및 결측행 제거
pitcher = pd.read_csv('선수데이터(전처리완료)/투수.csv')
pitcher = pitcher.drop(['ID', '선수명'], axis=1) # ID와 선수명은 분석에 불필요한 열이라고 판단하여 제거
pitcher = pitcher.dropna().reset_index(drop=True)

# 생년월일 전처리
pitcher['출생연도'] = pitcher['생년월일'].apply(lambda x: x.split('-')[0]).astype('int')
pitcher['출생월'] = pitcher['생년월일'].apply(lambda x: x.split('-')[1]).astype('int')
pitcher['출생일'] = pitcher['생년월일'].apply(lambda x: x.split('-')[2]).astype('int')
pitcher['나이'] = pitcher['연도'] - pitcher['출생연도'] + 1
pitcher = pitcher.drop('생년월일', axis=1)

# 데뷔년도 데이터 형변환
pitcher['데뷔년도'] = pitcher['데뷔년도'].astype('int')

# 팀명데이터 원핫인코딩
pitcher = pd.get_dummies(pitcher, columns=['팀명'], prefix='팀명', drop_first=False, dtype='int')

# 이닝수가 1/3이상인 선수만 분석
pitcher = pitcher[pitcher['이닝'] != 0].reset_index(drop=True)
pitcher

,데뷔년도,연도,평균자책점,경기,승리,패배,세이브,홀드,승률,이닝,...,팀명_KT,팀명_LG,팀명_NC,팀명_SK,팀명_두산,팀명_롯데,팀명_삼성,팀명_우리/히어로즈/넥센/키움,팀명_한화,팀명_현대
0,2013,2020,135.0,4,0,0,0,0,-,0.666667,...,0,0,0,0,0,0,1,0,0,0
1,2017,2018,6.39,18,2,5,0,0,0.286,50.666667,...,0,0,0,0,0,1,0,0,0,0
2,2017,2019,81.0,1,0,1,0,0,0.000,0.333333,...,0,0,0,0,0,1,0,0,0,0
3,2007,2007,3.62,20,3,7,0,0,0.300,77.000000,...,0,0,0,1,0,0,0,0,0,0
4,2007,2008,2.39,27,16,4,0,0,0.800,162.000000,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446,1996,2008,8.61,5,0,3,0,0,0.000,23.000000,...,0,1,0,0,0,0,0,0,0,0
3447,1996,2009,6.19,4,0,1,0,0,0.000,16.000000,...,0,1,0,0,0,0,0,0,0,0
3448,1996,2010,6.63,15,4,6,0,0,0.400,76.000000,...,0,1,0,0,0,0,0,0,0,0
3449,1996,2014,7.2,5,0,2,0,0,0.000,5.000000,...,0,0,1,0,0,0,0,0,0,0
3450,1996,2015,4.85,11,1,1,0,0,0.500,26.000000,...,0,0,1,0,0,0,0,0,0,0

In [6]:
# 투구데이터 전처리
pitcher['승률'] = pitcher['승률'].replace('-',0).astype('float')
pitcher[['평균자책점', '이닝당_출루허용률', '피안타율', '투구수/이닝', '9이닝당 삼진', '9이닝당 볼넷', '피장타율']] = pitcher[['평균자책점', '이닝당_출루허용률', '피안타율', '투구수/이닝', '9이닝당 삼진', '9이닝당 볼넷', '피장타율']].astype('float')
pitcher = pitcher.drop(['삼진/볼넷', '땅볼/뜬공'], axis=1)

# 수비데이터 전처리
### 포지션(수비) 변수 삭제
pitcher = pitcher.drop('포지션(수비)', axis=1)

In [7]:
# 연봉 및 수상횟수 전처리
pitcher['연봉'] = list(map(lambda x: x.replace(',',''), pitcher['연봉']))
pitcher['연봉'] = pitcher['연봉'].astype('int')

pitcher['수상횟수'] = pitcher['수상횟수'].astype('int')

In [8]:
hitter_fa = hitter[hitter['FA여부'] == 1].reset_index(drop=True)
hitter_nonfa = hitter[hitter['FA여부'] == 0].reset_index(drop=True)

pitcher_fa = pitcher[pitcher['FA여부'] == 1].reset_index(drop=True)
pitcher_nonfa = pitcher[pitcher['FA여부'] == 0].reset_index(drop=True)

In [9]:
hitter.to_csv('선수데이터(전처리완료)/모델링용ver1/타자(모델링용).csv', index=False, encoding='utf-8-sig')
pitcher.to_csv('선수데이터(전처리완료)/모델링용ver1/투수(모델링용).csv', index=False, encoding='utf-8-sig')

hitter_fa.to_csv('선수데이터(전처리완료)/모델링용ver1/타자_fa(모델링용).csv', index=False, encoding='utf-8-sig')
hitter_nonfa.to_csv('선수데이터(전처리완료)/모델링용ver1/타자_nonfa(모델링용).csv', index=False, encoding='utf-8-sig')

pitcher_fa.to_csv('선수데이터(전처리완료)/모델링용ver1/투수_fa(모델링용).csv', index=False, encoding='utf-8-sig')
pitcher_nonfa.to_csv('선수데이터(전처리완료)/모델링용ver1/투수_nonfa(모델링용).csv', index=False, encoding='utf-8-sig')